
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    {% block meta %}
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% block contrib %}
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}" />
        <script src="{% static 'javascript/jquery.min.js' %}"></script>
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
    {% endblock %}
</head>

<body>
    {% block nav %} 
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container Black">
        <div class="ui large secondary inverted pointing menu">
            <div class="right item">
                {% if logged_username %}
                <a href="" class="ui inverted button">{{ logged_username }}</a>
                <a href="/accounts/logout" class="ui inverted button">退出</a>
                {% else %}
                <a href="/accounts/login" class="ui inverted button">登录</a>
                <a href="/register" class="ui inverted button">注册</a>
                {% endif  %}
            </div>
        </div>
        </div>
    </div>
    {% endblock %} 

    {% block content %} {% endblock %} 
    
    {% block footer %}
    <hr>
    <p>Thanks for visiting my site.</p>
    {% endblock %}
</body>

</html>