{% extends 'base.html' %}

{% load static %}

{% block title %} 218 - Semantic {% endblock %}

{% block content %}





<h1 class="ui center aligned header">218家教</h1>

<div class="container">
    <div class="ui one column stackable grid">
      <div class="three wide column"></div>
      
      <div class="ten wide column">
        <div class="ui segment">
          <div class="ui top attached tabular menu">
          {% for grade_tab in grade_subject_info %}
            <a class="item {% if grade_tab.slug == grade_level %} active {%endif%}" data-tab="{{ grade_tab.slug }}">{{ grade_tab.level }}</a>
          {% endfor %}
          </div>

          {% for grade_tab in grade_subject_info %}
            <div class="ui bottom attached tab {% if grade_tab.slug == grade_level %} active {%endif%} segment" data-tab="{{ grade_tab.slug }}">
              {% for subject in grade_tab.subject.all %}
                {#<a href="{{grade_tab.slug}}-{{subject.slug}}">{{ subject.subject_name }} {% if not forloop.last%} | {%endif%} </a>#}
                <a href="?grade_level={{grade_tab.slug}}&subject_level={{subject.slug}}">{{ subject.subject_name }} {% if not forloop.last%} | {%endif%} </a>
              {% endfor %}
            </div>
          {% endfor %}
          
        </div>
      </div>

      <div class="three wide column"></div>
    </div>
</div>


<div class="container">
  <h3 class="ui center aligned header">符合条件的结果</h3>

  <div class="ui container">
    <div class="ui relaxed divided items">
    {% for info in tec_info_list %}
      <div class="item">
        <div class="ui small image">
          <img src="{% static 'images/wy1.jpg' %}">
        </div>
        <div class="content">
          <a class="header">{{info.first_name}}</a>
          <div class="meta">
            <a>服务区域：{{info.area}} </a>
          </div>
          <div class="description">
            {{info.info}}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <br><br><br>

  <div class="ui container">
    <div class="ui page grid">
      <div class="ui borderless pagination menu">
        {% if  tec_info_list.has_previous %}
            <a class="item" href="?grade_level={{grade_level}}&subject_level={{subject_level}}&page={{ tec_info_list.previous_page_number }}"><i class="left arrow icon"></i>Previous</a>
        {% endif %}
        
        <a href="" class="item">{{ tec_info_list.number }}</a>

        {% if tec_info_list.has_next %}
            <a class="item" href="?grade_level={{grade_level}}&subject_level={{subject_level}}&page={{ tec_info_list.next_page_number }}"><i class="right arrow icon"></i>Next</a>
        {% endif %}
      </div>
    </div>
  </div>

  <br><br>


</div>


<!-- style !-->
<style>
  body{
    background-color:#DADADA;
  }
  .last.container {
    margin-bottom: 300px !important;
  }
  h1.ui.center.header {
    margin-top: 3em;
  }
  h2.ui.center.header {
    margin: 4em 0em 2em;
  }
  h3.ui.center.header {
    margin-top: 2em;
    padding: 2em 0em;
  }
  .ui.vertical.menu{
    width:8rem;
  }
</style>

<!-- js !-->
<script>
  $(document)
    .ready(function() {
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });

      $('.menu .item')
        .tab()
      ;

      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active')
          ;
        })
      ;
    })
  ;
</script>  

{% endblock %}
  


