{% extends 'base.html' %}

{% load static %}

{% block title %} 218 - Semantic {% endblock %}

{% block content %}





<h1 class="ui center aligned header">218家教</h1>

<div class="ui breadcrumb">
  <a class="section">Home</a>
  <div class="divider"> / </div>
  <div class="active section">Teacher</div>
</div>


<div class="pusher">
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      
      <div class="row">
        <div class="six wide column">
          <img src="{% static 'images/teacher_001.jpg' %}" class="ui large bordered rounded image">
        </div>

        <div class="eight wide column">
          <h3 class="ui header">上海同步+奥数拓展专业老师</h3>
          <p>教龄：6年|课时：941|好评数：155</p>
          <p>认证信息： 实名  学历  认证  |  服务承诺 在线旁听</p>
          <p>授课区域： 长宁区 静安区 普陀区 闵行区 嘉定区 青浦区</p>

          <h3 class="ui header divider">We Make Bananas That Can Dance</h3>
          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
        
      </div>

      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button green">预约</a>
          <a class="ui huge button red">咨询</a>
        </div>
      </div>

    </div>
  </div>



  <div class="ui vertical stripe segment">
    
    <div class="ui text container">
      <h2 class="ui header green">教学特点</h2>
      <p>毕业于国家重点师范院校，毕业后一直从事初小阶段教学。对上海各年级考点，重难点研究透彻，针对性教学。对一对一教学模式很熟悉，根据孩子特点教学，教学认真负责，风趣幽默，用心教会每一个孩子，让教学变的不再枯燥。</p>
      <a class="ui large button">Read More</a>

      <h2 class="ui header green">成功案例</h2>
      <h4>惊人的进步</h4> <br>
      <p>初一女，市三女中，才开始30多分，期中考试前上课，根据孩子的情况安排课程，发现孩子知识点不懂，
        学校课堂掌握不好，紧贴孩子情况制定计划，考前复习考点，期中考试81分，期末考试班级中等水平
      </p>
      
      <h4>奥数思维活跃</h4> <br>
      <p>熟悉四大杯赛的考点，从小学一年级的思维拓展到小学五年级的奥数，所带学生杯赛基本入围，
        还有决赛拿三等奖二等奖等。同时所带中等成绩同学拓展奥数思维，后期课内知识也得到大幅提升，
        得到家长的认可
      </p>
    </div>

    <div class="ui text container">
      <h2 class="ui header green">教学经历</h2>
      <h4>2011/08—至今</h4>
      <h3>坚信，没有教不好的孩子</h3>
      <p>
          任职于学大教育，涉及年级从小学一年级到初中三年级。 小学部分主要教授课本内容和奥数，
          根据孩子的性格，学习特点认真分析，制定个性化辅导方案 中学部分主要是针对考点进行教学，
          同步加提高。 每周参加教研活动，参与月测，期中，期末考试试卷出题。 
          坚信，没有笨孩子，只要教学方法得当，你一样可以很优秀。
      </p>
    </div>

  </div>



</div>






<!-- style !-->
<style>
  body{
    background-color:#DADADA;
  }
  .last.container {
    margin-bottom: 300px !important;
  }
  h1.ui.center.header {
    margin-top: 3em;
  }
  h2.ui.center.header {
    margin: 4em 0em 2em;
  }
  h3.ui.center.header {
    margin-top: 2em;
    padding: 2em 0em;
  }
  .ui.vertical.menu{
    width:8rem;
  }
</style>

<!-- js !-->
<script>
  $(document)
    .ready(function() {
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });

      $('.menu .item')
        .tab()
      ;

      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active')
          ;
        })
      ;
    })
  ;
</script>  

{% endblock %}
  


